{% extends 'base.html.j2' %}

{% block header %}
  <h2>{% block title %}Projects{% endblock %}</h2>
{% endblock %}

{% block content %}
  {% for project in projects %}
    <article class="project">
      <header>
        <div>
          <h3><a href="{{ url_for('project.browse_project', project_id=project['id'])}}">{{ project['name'] }}</a></h3>
        </div>
      </header>
      <p class="body">{{ project['description'] or '' }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}