{% extends 'base.html.j2' %}

{% block header %}
  <h4>{% block title %}Location {{ location['lat'] }}, {{ location['lon'] }}{% endblock %}</h4>
{% endblock %}

{% block content %}
<section class="reference-images">
    <div class="img-container">
    {% for img in reference_images %}
        <img src="/{{ img['IMAGE_PATH'] }}"/>
    {% endfor %}
    </div>
</section>
<br />
<section class="street-images">
    <div class="img-container">
    {% for img in street_images %}
        <a class="more_info" href="https://www.instantstreetview.com/@{{ location['lat'] }},{{ location['lon'] }},{{ img['heading'] }}h,5p,1z" target="_blank"><img src="/{{ img['IMAGE_PATH'] }}"/></a>
    {% endfor %}
    </div>
</section>
<section class="controls">
    <form method="POST" action="">
        <input id="need-more-info" type="hidden" name="need_more_info" value="0" />
        <input type="submit" name="possible_location" value="Possible Location 👍" />
        <input type="submit" name="not_location" value="Not the Location 👎" />
    </form>
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$('.more_info').click(function(e)
{
    $('#need-more-info').val(1)
});
</script>
{% endblock %}