
.reference-images .img-container{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.reference-images img {
    max-height: 20em;
}


.street-images .img-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.street-images img {
    max-height: 30em;
}

.controls {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}